<p>
  <strong>Name:</strong>
  <%= @cruise_type.name %>
</p>
 
<p>
  <strong>Capacity:</strong>
  <%= @cruise_type.capacity %>
</p>
<%= link_to 'Edit', edit_cruise_type_path(@cruise_type) %>
<%= link_to 'Back', cruise_types_path %>