<h1>Cotee Scheduler</h1>

<ul>
  
  <li>
    <%= link_to 'Reservations', new_reservation_path %>
  </li>
	
  <li>
    <%= link_to 'Cruise Types', controller: 'cruise_types' %>
  </li>
  
  <li>
    <%= link_to 'Scheduled Cruises', controller: 'scheduled_cruises' %>
  </li>

</ul>